* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: montserrat;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  /* justify-content: center; */
  padding: 0 90px;
  padding-top: 110px;

}

#left {
  width: 45%;
  height: 100%;
  background-color: yellow;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
}

#left h1 {
  font-size: 6.5rem;
  font-weight: 500;
  line-height: 5rem;
}

.color-div {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 8px;
  border: 1px solid black;
  margin-top: 130px;
  border-radius: 50px;
  /* background-color: pink; */
}

.color-div h5 {
  font-size: 17px;
  font-weight: 500;
  margin-right: 5px;
  /* padding: 5px 5px; */
}

.color-1 { 
  width: 12px;
  height: 12px;
  background-color: brown;
  border-radius: 50%;
  margin: 3px;
}

.color-2 {
  width: 12px;
  height: 12px;
  background-color: rgb(42, 165, 165);
  border-radius: 50%;
  /* margin: 3px; */
}

.content {
  width: 80%;
  /* background-color: red; */
}

.content h5 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 5px;
}

.content p {
  font-size: 17px;
  font-weight: 500;
  color: #2b1e1e;
  line-height: 22px;
}

#right {
  width: 45%;
  height: 90%;
  background-color: red;
}

.right-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.right-top h5{
  font-size: 18px;
  font-weight: 500;
}

.rating {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.rating p {
  margin-right: 5px ;
  font-size: 18px;
  font-weight: 500;
}

.rating i {
  font-size: 15px;
  font-weight: 500;
}

.img{
  width: 60%;
  height: 450px;
  /* background-color: brown; */
  background-image: url(https://images.unsplash.com/photo-1541519481457-763224276691?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzR8fG1vZGVsfGVufDB8fDB8fHww);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}